/** global styles **/
.box-body {
    padding-bottom: 15px;
}

.skin-blue .treeview-menu > li > a {
    color: #8aa4af;
}

.skin-blue .sidebar-menu a {
    color: #b8c7ce;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #fff;
}

.tether-element {
    z-index: 9999;
}

.wrapper {
    /*height: 100vh;*/
    min-height: 100%;
}

.login-page {
    overflow: auto;
    height: 100vh;
    width: 100%;
    display: table;
    position: absolute;
}

.login-box {
    display: table-cell;
    vertical-align: middle;
}

.login-box-body {
    width: 360px;
    margin: 0 auto;
}

.login-box-body .login-feedback {
    color: #1d4e61;
}

.login-box-body .form-group {
    margin-bottom: 20px;
}

.has-feedback-left input.form-control {
    padding-left: 34px; /* @input-height-base; */
    padding-right: 12px; /* @padding-base-horizontal */
}

.has-feedback-left .form-control-feedback {
    left: 0;
}

.user {
    margin-right: 10px;
}

.user .user-name i{
    padding-left: 10px;
}

.img-circle {
    border: 3px solid transparent;
    width: 90px;
    margin: 0 auto;
    border-color: rgba(255,255,255,0.2);
}

.section-help-block {
    color: #a94442;
    font-size: 12px;
    padding: 0 0 0 20px;
    margin: 0;
}

textarea.form-control {
    height: 140px;
}

.textarea-container {
    position: relative;
}

.textarea-container .textarea-counter {
    z-index: 10;
    position: absolute;
    right: 10px;
    bottom: 4px;
}

/* Form error styles */
.has-error .input-group-addon {
    border-color: #dd4b39;
}

ul.help-block {
    font-size: 12px;
    padding: 2px 0 0 20px;
    margin-bottom: 0;
}

.notification-message-details {
    font-weight: bold;
    display: block;
}

.btn-login {
    background-color: #1d4e61;
    color: #ecf0f5;
}

.content-wrapper {
    min-height: calc(100% - 101px);
    overflow: auto;
}

.box-header-button-wrapper {
    padding-right: 26px;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
    color: black;
}

label.disabled {
    color: #555;
}

.react-progress-bar-percent {
    background-color: #d33724;
}

td .form-group {
    margin-bottom: 0;
}

.radio-group-label {
    display: inline-block;
    font-weight: bold;
    width: 100%;
}

.tab-list-button-container {
    float: right !important;
}

.tab-list-button-container button, .tab-list-button-reflection button {
    width: 120px;
    margin-top: 2px;
    margin-left: 5px;
}

.tab-list-button-reflection {
    text-align: right;
}

/** react-datetime fix **/
.rdtPicker {
    display: block;
    position: static;
}

.rdt input[readonly] {
    background-color: #fff;
}

/** react-select fix **/
.Select-control {
    border-color: #d2d6de;
    border-radius: 0;
    height: 34px;
}

.Select-menu-outer {
    border-radius: 0;
    top: auto;
    z-index: 10;
}

.Select-input {
    height: 32px;
}

.Select.is-disabled .Select-value-label {
    color: #aaa !important;
}

.has-error .Select-control {
    border-color: #dd4b39;
}

h5.page-header {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 8px;
    font-weight: bold;
    border-bottom-color: #cccccc;
}